body {
    background-color: #b3e4e47e;
}
hr {
   /* background-color: white;  */
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%; 
}
h1{
    
    color: #66BFBF;
}
h2{
    color: #123636;
    border-width: None;
    margin-bottom: 0%;
}
h3 {
    color: #0e693c;
    margin-top: 2%;
    margin-bottom: 0.5%;
}